{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Volunteer</title>
<style>
  .card{
    background-color: #ededed;
    color: black;
  }

  #card{
    transition: transform 0.01s;
  }

  #card:hover{
    transform: scale(1.01);
  }

  #table{
    color: black;
  }
</style>
{% endblock meta %}

{% block content %}
<h1 class="text-center mb-5">Volunteer</h1>

<div class="container">
  <div class="row">
    
    {% for rs in rumahsakit %}
    <div class="col mb-4 ml-4">
      <div class="card p-0 shadow rounded" id="card" style="width: 18rem; border: solid 2px #48d9ca;">
        <img src="{{rs.gambar.url}}" class="card-img-top" alt="{{rs.nama_Rumah_Sakit}}" style="height: 11rem;">
        <div class="card-body">
          <h5 class="card-title text-center mt-0 mb-0" id="card-title">{{rs.nama_Rumah_Sakit}}</h5>
          <table class="table table-borderless mt-1 mb-1" id="table">
            <tbody>
              <tr>
                <th scope="row" class="pt-1"><i class="fa fa-map-marker" aria-hidden="true"></i></th>
                <td class="pt-1">{{rs.alamat}}</td>
              </tr>
              <tr>
                <th scope="row" class="pt-1"><i class="fa fa-phone" aria-hidden="true"></i></th>
                <td class="pt-1">{{rs.telepon}}</td>
              </tr>      
              <tr>
                <th scope="row" class="pt-1"><i class="fa fa-user" aria-hidden="true"></i></th>
                <td class="pt-1">{{rs.volunteer.all|length}} Volunteer</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <a href="{{rs.absolute_url}}" class="btn btn-primary text-center">Daftar Volunteer</a>
          </div>
        </div>
      </div>
    </div>  
    {% endfor %}
    <div class="col text-center">
      <a href="{% url 'main:rumahsakit' %}" class="btn btn-primary btn-lg">Tambah Rumah Sakit</a> 
    </div>
  </div>
    
</div>
{% endblock content %}
