{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 class="text-center mb-3">Tambah Rumah Sakit</h1>
    <div class="container p-3" style="background-color: #48d9ca; color: white;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="Tambah">
                <a href="{% url 'main:home' %}" class="btn btn-danger">Kembali</a>
            </div>
        </form>
    </div>
{% endblock content %}